<%= form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @robot do |f| %>
  <div class="form-group">
    <%= f.label "Name:" %>
    <%= f.text_field :name, class: "form-control" %>    
  </div>
  
  <div class="form-group">
    <%= f.label "Command for Robot:" %>
    <%= text_field_tag :command, nil, placeholder: 'example: PLACE 0,0,NORTH MOVE LEFT RIGHT REPORT', class: 'form-control' %>  
  </div>

  <div class="form-group">
    <div class="btn-group" role="button">
      <%= f.submit "Play Robot", class: "btn btn-info" %>
  </div>
  <% end %>
<% end %>
