<!DOCTYPE html>
<html>
<head>
  <title>RobotTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<br/>	
	<div class="container-fluid">
		<% unless notice.nil? %>
			<div class="alert alert-success">
				<%= notice %>
			</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
